
.head{
    background-color: aqua;
    color: blueviolet;
    padding-top: 20px;
    margin-left: 15px;
    padding-bottom: 20px;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    padding: 30px;
    margin: 30px;
  
}
.secondhead{
    color: forestgreen;
 ;
}
